<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>家計簿アプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>家計簿アプリ</h1>
    </header>
    <nav>
        <a href="{{ url_for('index') }}">ホーム</a>

    </nav>
    <main>
        {% block content %}
        <!-- 各テンプレートでこのブロックに特有のコンテンツを挿入 -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 家計簿アプリ</p>
    </footer>
</body>
</html>
